@page
@model AvogatoWizardWhisker.github.io.Pages.BlogsModel
@{
    ViewData["Title"] = "My personal blogs";
}

<h2 class="text-center">Welcome to my personal blogs</h2>
<hr />
<br />
<div class="row row-cols-1 row-cols-3 g-4">
    @* <div class="card-group">*@
    <div class="col">
        <img src="~/img/CuteDragonLion.jpg" class="card-img-top" alt="" />
        <div class="card-body">
            <h5>Protect yourself and other around you from online threats</h5>
            <p class="card-text">Blog preview</p>
            <a asp-area="" asp-page="/BlogsContents/OnlineProtection" class="btn btn-primary">Read more</a>
        </div>
    </div>

    <div class="col">
        <img src="~/img/CuteDragonLion.jpg" class="card-img-top" alt="" />
        <div class="card-body">
            <h5>From the river to the sea, Palestine will be free</h5>
            <p class="card-text">Blog preview</p>
            <a asp-area="" asp-page="/BlogsContents/OnlineProtection" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="col">
        <img src="~/img/CuteDragonLion.jpg" class="card-img-top" alt="" />
        <div class="card-body">
            <h5>Blog title</h5>
            <p class="card-text">Blog preview</p>
            <a asp-area="" asp-page="/BlogsContents/FreePalestine" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="col">
        <img src="~/img/CuteDragonLion.jpg" class="card-img-top" alt="" />
        <div class="card-body">
            <h5>Blog title</h5>
            <p class="card-text">Blog preview</p>
            <a asp-area="" asp-page="/BlogsContents/Minecraft" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="col">
        <img src="~/img/CuteDragonLion.jpg" class="card-img-top" alt="" />
        <div class="card-body">
            <h5>Blog title</h5>
            <p class="card-text">Blog preview</p>
            <a href="" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="col">
        <img src="~/img/CuteDragonLion.jpg" class="card-img-top" alt="" />
        <div class="card-body">
            <h5>Blog title</h5>
            <p class="card-text">Blog preview</p>
            <a href="" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>