@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/">*@
<link rel="icon" type="image/x-icon" href="~/favicon.ico" />

<h1 style="text-align: center">Welcome to my first website</h1>
<br />

@* <div>
    <img src="~/img/CuteDragonLion.jpg" alt="A cute hybrid Lion Dragon anthropomorphic" class="img-fluid" height="400" width="400" />

    <p>
        Hi, i'm <strong>AvogatoWizardWhisker</strong>, a digital marketer enthusiast and computer aficionado,
        I'm on a quest to conquer the realms of C#, HTML, and CSS. With a moniker that conjures images of a mystical
        feline wielding a wand
        in one paw and a ripe avocado in the other,
        he navigates the digital jungle with the kindergarten level of a coder and the skills of a marketer.
        As for lions, did you know that a lion's roar can be so thunderous it can be heard up to 8.04672 kilometers
        away?
        Imagine if they had social media – their posts would literally go viral with every roar!
    </p>
</div> *@

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/CuteDragonLion.jpg" alt="A cute hybrid Lion Dragon anthropomorphic" class="img-fluid rounded-start" height="400" width="400" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="text-center">
                    Hi, i'm <strong>AvogatoWizardWhisker</strong>, a digital marketer enthusiast and computer aficionado,
                    I'm on a quest to conquer the realms of C#, HTML, and CSS. With a moniker that conjures images of a mystical
                    feline wielding a wand
                    in one paw and a ripe avocado in the other,
                    he navigates the digital jungle with the kindergarten level of a coder and the skills of a marketer.
                    As for lions, did you know that a lion's roar can be so thunderous it can be heard up to 8.04672 kilometers
                    away?
                    Imagine if they had social media – their posts would literally go viral with every roar!
                </p>
            </div>
        </div>
    </div>

</div>