@page
@model AvogatoWizardWhisker.github.io.Pages.ProLangModel

@{
    ViewData["Title"] = "Programing Language";
}

<h2 class="text-center">Programming languages I know and i'm still learning</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Programing Language</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <img src="~/img/C-Sharp.svg" class="card-img-top" alt="The new C# (C-sharp) logo" height="200"
                    width="200">
            </th>
            <td>
                Embarking on the journey of programming with C# is like becoming a
                wizard in the land of .NET—suddenly, you're casting spells <i>(I mean, writing code)</i> that can bring
                to life a myriad
                of applications. With its crystal-clear syntax and treasure trove of features, C# makes sure your first
                steps
                into coding are as smooth as a well-compiled program. It's like finding a friendly guide in the vast
                forest of
                programming languages, one that not only understands your beginner's struggles but also cheers you on
                with
                every line of code you write correctly.
            </td>
        </tr>
        <tr>
            <th scope="row">
                <img src="~/img/powershell.svg" class="card-img-top" alt="PowerShell logo" height="200" width="200" />
            </th>
            <td>
                PowerShell and I have a love-hate relationship: I love it, and it hates how much I still have to learn.
                It's
                like a magical book of spells – one wrong word and you might end up turning your files into a pumpkin or
                summoning
                a wild array of error messages. Altought PowerShell isn't considered to be a programming language, it's
                more of a script to automated tasks but whatever.
                But, oh, the power when you get the incantation just right! It's a journey of
                discovery, where every <code style="font-family: 'JetBrains Mono'">Get-Help</code> feels like asking a
                wise old wizard for guidance. Here's to the adventure of
                mastering PowerShell, one cmdlet at a time!
            </td>
        </tr>
        <tr>
            <th scope="row"><img src="~/img/html.svg" class="card-img-top" alt="" height="170" width="170" /></th>
            <td>
                HTML, or HyperText Markup Language, is the skeleton of all web pages. It's like the digital version of
                Lego blocks,
                where each piece is a tag, and together they build the structure of your online creations. Imagine if
                your browser
                was a chef; HTML would be the recipe it follows to cook up the website you see on your screen. It's not
                the
                fanciest language out there, but without it, the web would be as bland as a pizza without cheese!
            </td>
        </tr>
        <tr>
            <th scope="row"><img src="~/img/css-3.svg" class="card-img" alt="Cascading Style Sheet" height="200"
                    width="200" /></th>
            <td>
                CSS, or Cascading Style Sheets, is like the
                fashion guru of the web world. It's the tool that gives websites their sparkle and pizzazz, turning
                dull,
                plain text into a visual fiesta. Imagine if you could tell your clothes to change color based on the
                weather or the
                time of day—that's CSS for websites. It lets web designers create a look that can react to a user's
                actions, making
                the internet not just a place to get information, but a dynamic space to experience. So next time a
                website
                catches your eye, tip your hat to CSS, the silent stylist behind the screen!
            </td>
        </tr>
    </tbody>
</table>