@page
@model AvogatoWizardWhisker.github.io.Pages.SetupModel

@{
    ViewData["Title"] = "My setup and devices";
}

<link rel="icon" type="image/x-icon" href="~/favicon.ico" />

<h2 class="text-center">
    Here's the list of hardware I own and use daily <img
        src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Desktop%20Computer.png"
        alt="Desktop Computer" width="50" height="50" />
</h2>
<br />
<div class="card-group">
    <div class="card">
        <img src="~/img/Omen2018.png" class="card-img-top" alt="HP Omen Laptop 2018 Model">
        <div class="card-body">
            <hr />
            <h5 class="card-title">HP Omen 15 2018 laptop</h5>
            <p class="card-text">
                Specifications
            <ul>
                <li><strong>CPU: </strong>Intel i7-8750H</li>
                <li><strong>GPU0: </strong>Intel Graphics UHD 630</li>
                <li><strong>GPU1: </strong>Nvidia Graphics GTX 1050</li>
                <li><strong>RAM: </strong>24GiB RAM (one 8GiB RAM stick the other with 16GiB RAM)</li>
                <li><strong>Storage: </strong>Kingston SA400S37 960GiB (I'm only using SATA SSD. The m.2 port is broken
                    internally <i>for some reason</i>.)</li>
                <li><strong>OS: </strong>Microsoft Windows 11 Insider Preview</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/IdeaPad.png" class="card-img-top" alt="Lenovo IdeaPad Flex 5">
        <div class="card-body">
            <hr />
            <h5 class="card-title">Lenovo IdeaPad Flex 5</h5>
            <p class="card-text">
                Specifications
            <ul>
                <li><strong>CPU: </strong>AMD Ryzen 5 5500U with Radeon Graphics</li>
                <li><strong>GPU0: </strong>AMD Radeon&#8482; Graphics</li>
                <li><strong>RAM: </strong>8GiB memory</li>
                <li><strong>Storage: </strong>512GiB INTELSSDPEKNW512GZL</li>
                <li><strong>OS: </strong> Microsoft Windows 11 Insider Preview</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/Note10Lite.png" class="card-img-top" alt="Samsung Galaxy Note 10 Lite">
        <div class="card-body">
            <hr />
            <h5 class="card-title">Galaxy Note 10 Lite</h5>
            <p class="card-text">
                Specifications
            <ul>
                <li><strong>CPU: </strong>Exynos 9810</li>
                <li><strong>GPU: </strong>Mali-G72 MP18</li>
                <li><strong>RAM: </strong>8GiB memory</li>
                <li><strong>Storage: </strong>128GiB</li>
                <li><strong>OS: </strong>Android 13</li>
            </ul>
            </p>
        </div>
    </div>
</div>

<br />
