@page
@model AvogatoWizardWhisker.github.io.Pages.ToolsModel

@{
    ViewData["Title"] = "Dev tools";
}

<h2 class="text-center">Here are the list of tools I used to develop this website
    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Gear.png"
        alt="Gear" width="50" height="50" />
</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tools</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <img src="~/img/Visual_Studio_Icon_2022.svg" class="card-img-top" alt="Visual Studio 2022 logo"
                    height="200" width="200" />
            </th>
            <td>
                Developing a website with Visual Studio 2022 can be quite an adventure! Imagine starting with the
                excitement of installing Visual Studio, only to realize you forgot to check the required components.
                Then, there's the moment you accidentally delete your project files, leading to a frantic search for
                backups. Debugging can be a comedy of errors, with typos causing unexpected results and hours spent
                chasing down elusive bugs. But amidst the chaos, there are triumphs too—like the joy of seeing your
                first webpage render perfectly or finally getting that tricky feature to work. It's a rollercoaster of
                challenges and victories, all part of the fun journey of web development.
            </td>
        </tr>
        <tr>
            <th scope="row"><img src="~/img/dotnet-logo.svg" class="card-img-top" alt=".NET Logo" height="200"
                    width="200" /></th>
            <td>Used as web framework with Razor Pages.</td>
        </tr>
        <tr>
            <th scope="row"><img src="~/img/Bootstrap_logo.svg" class="card-img-top" />
            </th>
            <td>
                Bootstrap @* turns your website into an icon (not the image icon, smh). *@ makes your website so
                stylish.
            </td>
        </tr>
        <tr>
            <th scope="row">
                <img src="~/img/Microsoft_Azure.svg" class="card-img-top" />
            </th>
            <td>
                This website has been publish and deployed to Microsoft Azure. Luckily, I still have Azure for students.
            </td>
        </tr>
    </tbody>
</table>
