@page
@model AvogatoWizardWhisker.github.io.Pages.BlogsContents.OnlineProtectionModel
@{
    ViewData["Title"] = "How to protect yourself online from online threats";
}

<h2 class="text-center">@ViewData["Title"]</h2>



<a asp-area="" asp-page="/Blogs" class="btn btn-primary">Head back to blog page</a>
